*{
  margin: 0;
  padding: 0;
}
.clearfix:after{
	content: '';
	clear: both;
	display: block;
}

.wraper{
  height: 1310px;
  width: 1000px;
  margin: 0 auto;
}
header{
  padding-left: 45px;
  padding-top: 17px;
}
.fone{
  float: left;
  vertical-align: middle;
}
.login{
  padding-left: 15px;
  float: left;
}
.nav{
  float: left;
  width: 75px;
  height: 20px;
  text-align: center;
  margin-left: 20px;
  border: 2px solid grey;
  border-radius: 20px;
}
.header-menu li{
  float: left;
  padding-left: 32px;
  list-style: none;
}
.header-menu a {
  text-decoration: none;
}
form fieldset{
  display: block;
}
.select1{
  width: 413px;
  height: 134px;
  border: 2px solid black;
  border-radius: 20px;
}
.content{
  padding-left: 45px;
  padding-right: 45px;
}
.left-sidebar{
  float: left;
}

main{
  float: left;
  width: 526px;
  height: 622px;
  background-color: #c7d0d4;
}
figure{
  float: left;
}
figure img {
  height: 126px;
  width: 138px;
  border-radius: 20px;
}
.right-sidebar{
  float: right;
}
.left-list > li{
  list-style: none;
  border: 2px solid black;
  border-radius: 20px;
}
.footer-menu li{
  float: left;
  list-style: none;
}
.footer-menu a{
  text-decoration: none;
}
