
@font-face {
  font-family: 'Arial-BoldItalicMT';
  src: url('Arial-BoldItalicMT.eot?#iefix') format('embedded-opentype'),  url('Arial-BoldItalicMT.woff') format('woff'), url('Arial-BoldItalicMT.ttf')  format('truetype'), url('Arial-BoldItalicMT.svg#Arial-BoldItalicMT') format('svg');
  font-weight: normal;
  font-style: normal;
}
